/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.07.2016, 13:08:10
    Author     : Sarah Dänel
*/

html, body {font-family: 'Helvetica'; font-size: 16px; margin-top: 15px; margin-bottom: 15px; margin-left: 100px; margin-right: 100px; background-color: aliceblue; border-color: black}
h1 {font-size: 25px; line-height: 28px; font-weight: bold;}
h2 { font-size: 20px; margin: 0 0 16px; line-height: 22px; font-weight: normal;}
h3 { font-size: 14px; font-weight: bold; margin: 0 0 11px 0; line-height: 17px; font-weight: bold;}
p {font-size: 13px; margin: 0 0 9px; line-height: 19px;}
p.teaser {padding: 10px; width: 83.7%; background-color: white;}
.standard-button {background-color: white; color: black; border: 1.5px solid black; border-radius: 3px;}
.button {background-color: white; color: black; border: none;}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_3 {
	width: 40%;
        padding: 10px; background-color: white;
}
.span_1_of_3 {
	width: 40%;
        padding: 10px; background-color: white;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_2_of_3, .span_1_of_3 { width: 100%; }
}
#slider label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}
footer {display: block;}
.node {
    stroke: #fff;

    stroke-width: 1px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

d3-tip {
    line-height: 1;
    color: black;
}

